NEXT_PUBLIC_SUPABASE_URL=https://oorvvpemoqaugpuiumue.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vcnZ2cGVtb3FhdWdwdWl1bXVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4NTgzODcsImV4cCI6MjA5NjQzNDM4N30.Nxozjz3M-ZqkivBnqov-RlIicE2nXz2k7djjD5fTHMo
